@mixin breakpoint-down($width){
  $max: "only screen and (max-width: $width)";
  @media #{$max}{
    @content;
  }
}

@mixin breakpoint-up($width){
  $min: "only screen and (min-width: $width)";
  @media #{$min}{
    @content;
  }
}

.column-container{
  display: flex;
  @include breakpoint-down(799px){
    flex-flow: row wrap;
  }
}

nav > .column-container{
  justify-content: space-between;
}
.logo-container{
  flex: 0 0 215px;
  background-image: url($logo);
  background-repeat: no-repeat;
  background-size: contain;
  height: 78px;
}

.menu{
  flex: 0 0 400px;
}

.one-column{
  flex: 2 2 0px;
  @include breakpoint-down(799px){
    flex: 0 0 100%;
  }
}

.msg-container{
  flex: 4 4 0px;
  @include breakpoint-down(799px){
    flex: 0 0 100%;
  }
}

.company-logo{
  img{
    width:100%
  }
  flex: 0 0 100px;
}

footer{
  > h1, h2{
    text-align: center;
    margin: 20px 0 20px;
  }
  > .column-container{
    justify-content: space-between;
  }
}