@mixin breakpoint-down($width){
  $max: "only screen and (max-width: $width)";
  @media #{$max}{
    @content;
  }
}

@mixin breakpoint-up($width){
  $min: "only screen and (min-width: $width)";
  @media #{$min}{
    @content;
  }
}

.column-container{
  display: flex;
  justify-content: space-around;
  // @include breakpoint-down()
}

nav.column-container{
  justify-content: space-between;
}
.logo-container{
  flex: 0 0 215px;
  background-image: url($logo);
  background-repeat: no-repeat;
  background-size: contain;
  height: 78px;
}

.menu{
  flex: 0 0 400px;
}

.one-column{
  flex: 2 2 0px;
}

.msg-container{
  flex: 4 4 0px;
}

.company-logo{
  img{
    width:100%
  }
  flex: 0 0 100px;
}