.app-wrapper{
  position: relative;
}
.wrapper{
  max-width: 900px;
  margin: auto;
}
nav{
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 20px;
  top:0;left: 0;
  background-color:$dark_blue;
}

.menu{
  ul{
    padding: 0;
  }
  li {
    flex: 1 1 0px;
    list-style-type: none;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px;
    a{
      display: inline-block;
      color: $white;
      text-decoration: none;
      &:hover{
        color: #ccc;
      }
    }
  }
}

#how-it-works{
  padding: 200px 30px 50px; 
  background:linear-gradient(to bottom right, $transparent 15%, $transparent 55%, $blue 85% );
  @include breakpoint-up(800px){
    .msg-container{
      > .msg{
        padding-left: 100px;
      }
    }
  }
  @include breakpoint-down(799px){
    padding: 200px 30px 0;
    .msg-container{
      > .msg{
        padding-left: 30px;
        padding-top: 50px;
      }
    }
  }
}

#tutorial{
  padding: 100px 30px 150px;
  background:linear-gradient(to top left, $blue 65%, $transparent 95%);
  img{
    width: 100%;
    margin-top: 50px;
    border: 5px solid $green;
    border-radius: 20px;
  }
  @include breakpoint-up(800px){
    .msg-container{
      > .msg{
        padding-right: 100px;
      }
    }
  }
  @include breakpoint-down(799px){
    padding: 0 30px 200px;
    .msg-container{
      > .msg{
        padding-left: 30px;
      }
    }
  }
}

#features{
  background-image: url($feature_bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 100px 30px 50px;

  @include breakpoint-up(800px){
    .msg-container{
      > .msg{
        padding-left: 100px;
      }
    }
  }
  @include breakpoint-down(799px){
    > h1{
      margin-bottom: 40px;
      text-align: center;
    }
    .msg-container{
      > .msg{
        padding-left: 30px;
      }
    }
  }
}

.app-container{
  position: relative;
  width: 220px;
  height:500px;
  margin: auto;
  background-image: url($mini_app_bg);
  border: $transparent 1px solid;
  border-radius: 20px;
  padding: 0 20px 10px;
  box-shadow: 0 1px 9px $white;
  .demo{
    position: absolute;
    top: -200px; left: -85px;
    transform: scale(0.75);
    @include breakpoint-down(799px){
      top: -150px;
    }
  }
  .app{
    text-align: center;
    > h1{
      margin-top: 50%;
      margin-bottom: 100px;
      // font-size: 3em;
      line-height: 1;
    }
  }
  .icon-container{
    position: absolute;
    top:-50px; left:30%;
    width:100px;
    height: 100px;
    background-image: url($icon);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.msg-container{
  > .msg{
    margin-bottom: 50px;
    > p{
      font-weight: 500;
    }
  }
}

.capture{
  width: 100px;
  height: 100px;
  margin: auto;
  background-image: url('../assets/capture.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include breakpoint-down(799px){
    margin-bottom: 50px;
  }
}

.check{
  width: 100px;
  height: 100px;
  margin: auto;
  background-image: url('../assets/check.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include breakpoint-down(799px){
    margin-bottom: 50px;
  }
}